/* poppins-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"), url("../fonts/poppins-v20-latin-300.woff") format("woff");
}
/* poppins-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff");
}
/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../fonts/poppins-v20-latin-600.woff") format("woff");
}
/* poppins-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v20-latin-800.woff2") format("woff2"), url("../fonts/poppins-v20-latin-800.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  transition: all 0.3s;
}

html {
  background-color: #F5F6FE;
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
  margin: auto;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  z-index: 1000;
  background: #FFF;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
header #sourceBTN {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #3568cc;
  width: 200px;
  height: 50px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
header #sourceBTN:hover {
  background-color: #3568cc;
  color: #fff;
}

aside {
  position: fixed;
  top: 95px;
  left: 0;
  z-index: 90 !important;
  width: 175px;
  height: calc(100vh - 95px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 25px;
  z-index: 1000;
  background: #FFF;
}
aside div {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
aside div a {
  text-decoration: none;
  color: #989898;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
}
aside a:hover {
  color: #3568cc;
}
aside a:hover svg path {
  fill: #3568cc;
}

#notification {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 10000;
  background-color: #fff;
  padding: 15px;
  color: #3568cc;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
#notification svg {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  fill: #3568cc;
}

#highlight {
  transition: none;
  position: absolute;
  top: -100px;
  left: 0;
  z-index: 100000;
  width: 240px;
  height: 25px;
  background-color: #3568cc;
  opacity: 0;
  pointer-events: none;
}

#sourceWrapper {
  position: fixed;
  top: 75px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #F5F6FE;
}
#sourceWrapper form {
  width: 45%;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
#sourceWrapper form #sourceWrapperLeft {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 40%;
  min-width: 300px;
  gap: 35px;
}
#sourceWrapper form #sourceWrapperLeft #SALBP_picker {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #3568cc;
  border-radius: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
       user-select: none;
  padding: 35px;
}
#sourceWrapper form #sourceWrapperLeft #SALBP_picker p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
}
#sourceWrapper form #sourceWrapperLeft #SALBP_picker #SALBP_type {
  color: #FFF;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.1px;
}
#sourceWrapper form #sourceWrapperLeft #additionalData {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
}
#sourceWrapper form #sourceWrapperLeft #additionalData label {
  padding: 5px;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
#sourceWrapper form #sourceWrapperLeft #additionalData label #limitPickerDesc {
  flex-basis: 100%;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
}
#sourceWrapper form #sourceWrapperLeft #additionalData label #limitPicker {
  width: 100%;
  padding: 5px 0 0 0;
  border: none;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.1px;
}
#sourceWrapper form #sourceWrapperLeft #additionalData hr {
  flex-basis: 100%;
  border: 1px solid #ddd;
}
#sourceWrapper form #sourceWrapperLeft #additionalData #methodPickerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#sourceWrapper form #sourceWrapperLeft #additionalData #methodPickerWrapper p {
  flex-basis: 100%;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
}
#sourceWrapper form #sourceWrapperLeft #additionalData #methodPickerWrapper #methodPicker {
  flex-basis: 100%;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.1px;
  border: none;
}
#sourceWrapper form #sourceWrapperLeft #buttons {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
}
#sourceWrapper form #sourceWrapperLeft #buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #3568cc;
  background-color: transparent;
  height: 50px;
  padding: 0 20px;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
#sourceWrapper form #sourceWrapperLeft #buttons button:hover {
  background-color: #3568cc;
  color: #fff;
}
#sourceWrapper form #sourceWrapperRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  background-color: #fff;
  flex-basis: 55%;
  padding-top: 30px;
  border-radius: 10px;
}
#sourceWrapper form #sourceWrapperRight h4 {
  flex-basis: 100%;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin: 0 30px;
}
#sourceWrapper form #sourceWrapperRight p {
  flex-basis: 100%;
  color: #323232;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0 30px 25px 30px;
}
#sourceWrapper form #sourceWrapperRight #filePicker {
  flex-basis: 100%;
  background-color: #ddd;
  padding: 25px;
  border-radius: 0 0 10px 10px;
}
#sourceWrapper form #sourceWrapperRight textarea {
  font-size: 16px;
  flex-basis: 100%;
  height: 425px;
  margin: 0 20px;
  padding: 30px;
  overflow-y: scroll;
  resize: none;
  border: none;
  border-top: 1px solid #ddd;
}

:target {
  scroll-margin-top: 150px;
}

main {
  width: calc(100% - 175px);
  position: absolute;
  top: 95px;
  left: 175px;
  padding: 100px 150px 25px 150px;
}
main .sectionTitle {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}
main .sectionTitle h2 {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1.4px;
}
main .sectionTitle h3 {
  color: #000;
  text-align: right;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.12px;
}
main #visualizationMainWrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px 25px 50px;
  pointer-events: none;
  background-color: #fff;
}
main #visualizationMainWrapper #visualizationWrapper {
  flex-basis: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  pointer-events: none;
  background-color: #fff;
  padding: 50px 25px 0 25px;
}
main #visualizationMainWrapper #visualizationWrapper .nodesColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 175px;
}
main #visualizationMainWrapper #visualizationWrapper .nodesColumn .node {
  width: 75px;
  height: 75px;
  text-align: center;
  background-color: #F5F6FE;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: relative;
  margin: 35px 0;
}
main #visualizationMainWrapper #visualizationWrapper .nodesColumn .node span {
  font-size: 25px;
  font-weight: 800;
}
main #visualizationMainWrapper #visualizationWrapper .nodesColumn .node p {
  position: absolute;
  top: -10px;
  right: 0;
  color: #fff;
  font-size: 20px;
  background-color: #5386ea;
  border-radius: 100%;
  min-width: 30px;
  min-height: 30px;
  padding: 0 10px;
}
main #solutionWrapper {
  margin-top: 10vh;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10vh;
}
main #solutionWrapper * {
  transition: none;
}
main #solutionWrapper #problemData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
  gap: 40px;
}
main #solutionWrapper #problemData #solutionType {
  background-color: #3568cc !important;
}
main #solutionWrapper #problemData #solutionType,
main #solutionWrapper #problemData #solutionInfoC,
main #solutionWrapper #problemData #solutionInfoHeuristic,
main #solutionWrapper #problemData #solutionInfoK {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
  background-color: #5386ea;
  color: #fff;
  padding: 25px;
  text-align: center;
  padding: 65px;
  border-radius: 10px;
}
main #solutionWrapper #problemData #solutionType h4,
main #solutionWrapper #problemData #solutionInfoC h4,
main #solutionWrapper #problemData #solutionInfoHeuristic h4,
main #solutionWrapper #problemData #solutionInfoK h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.1px;
}
main #solutionWrapper #problemData #solutionType p,
main #solutionWrapper #problemData #solutionInfoC p,
main #solutionWrapper #problemData #solutionInfoHeuristic p,
main #solutionWrapper #problemData #solutionInfoK p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
}
main #solutionWrapper #ganttCharts {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 100%;
  padding: 50px 50px 25px 50px;
}
main #solutionWrapper #ganttCharts #ganttChartsWrapper {
  flex-basis: 100%;
  padding: 25px 0;
  background-color: #fff;
}
main #solutionWrapper #ganttCharts #ganttChartsWrapper canvas {
  max-width: 100%;
  background-color: #fff;
  padding: 50px 100px;
  max-height: 50vh;
}
main #solutionWrapper #qualityIndicators {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 100%;
  gap: 40px;
}
main #solutionWrapper #qualityIndicators #solutionInfoLE,
main #solutionWrapper #qualityIndicators #solutionInfoSI,
main #solutionWrapper #qualityIndicators #solutionInfoT {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 35%;
  background-color: #5386ea;
  color: #fff;
  padding: 25px;
  text-align: center;
  padding: 65px;
  border-radius: 10px;
}
main #solutionWrapper #qualityIndicators #solutionInfoSI {
  flex-basis: 50%;
}
main #solutionWrapper #qualityIndicators h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2.1px;
}
main #solutionWrapper #qualityIndicators p {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1.12px;
}
main footer {
  margin-top: 10vh;
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-weight: 300;
}
main footer .copyrightMainInfo {
  color: #3568cc;
  font-weight: 400;
}

.line {
  position: relative;
  z-index: 1;
  height: 2px;
  background-color: #989898;
}

@media (max-width: 1025px) {
  #visualizationWrapper {
    transform: rotate(90deg);
    padding: 50px;
    height: 100vw;
  }
  #visualizationWrapper .nodesColumn {
    padding: 0 50px;
  }
  #visualizationWrapper .node {
    transform: rotate(-90deg);
  }
  #notification {
    position: fixed;
    bottom: auto;
    top: 90%;
  }
}/*# sourceMappingURL=style.css.map */